// Padding
//------------------------------------------------------
.u-pad {
  &--a {
    padding: $padding;
  }
  &--t {
    padding-top: $padding;
  }
  &--b {
    padding-bottom: $padding;
  }
  &--lr {
    padding-left: $padding;
    padding-right: $padding;
  }
}
