// Button
//------------------------------------------------------
@mixin c-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  &:hover {
    opacity: 0.9;
  }
}
.c-btn {
  &--play {
    @include c-btn;
    padding: 0.8rem 3rem;
    font-size: 2.4rem;
    line-height: 1.4rem;
    font-family: $font-family;
  }

  &-close {
    &__line {
      width: 28px;
      height: 6px;
      border-radius: 20px;
      background: #000;
      display: inline-block;
      position: absolute;
      top: 22px;
      left: 11px;
      &--01 {
        transform: rotate(45deg);
      }
      &--02 {
        transform: rotate(-45deg);
      }
    }
  }
}
