// Button
//------------------------------------------------------
@mixin c-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  &:hover {
    opacity: 0.9;
  }
}
.c-btn {
  @include c-btn;
  font-size: 3rem;
  line-height: 1.4rem;
  font-family: $font-family;
  position: relative;
  overflow: hidden;
  &--play {
    height: 150px;
    padding: 0.8rem 3rem;
    &:after {
      content: "";
      width: 140px;
      height: 8px;
      display: block;
      position: absolute;
      transform: translate(-2px, 64px);
      left: 50%;
      margin-left: -70px;
      border-radius: 10px;
      background-color: #000;
      transition: transform .2s ease-in-out;
    }
  }
  &--replay {
    width: 320px;
    padding: 2rem 4rem;
    margin: 2rem auto;
  }

  &.play--enable {
    &:hover {
      opacity: 1;
    }
    &:after {
      transform: translate(-2px, -15px);
    }
  }

  &-close {
    &__line {
      width: 28px;
      height: 6px;
      border-radius: 20px;
      background: #000;
      display: inline-block;
      position: absolute;
      top: 22px;
      left: 11px;
      &--01 {
        transform: rotate(45deg);
      }
      &--02 {
        transform: rotate(-45deg);
      }
    }
  }
}
