// Form
//------------------------------------------------------
.c-input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #1abc9c;
  transition: all 0.4s ease-in-out;

  &--alphabet {
    width: 70%;
    min-width: 500px;
    padding: 0.6rem 1.4rem;
    margin-right: 0.4em;
    display: inline-block;
    border-radius: 5px;
    font-size: 4.2rem;
    font-family: $font-family;
    letter-spacing: 0.05em;
    vertical-align: baseline;
  }

  &:focus {
    border-bottom: 4px solid #FFC857;
  }
  &::-ms-clear {
    visibility: hidden;
  }
}
