// Form
//------------------------------------------------------
.c-input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 10px solid #1abc9c;
  transition: all 0.4s ease-in-out;

  &--alphabet {
    width: 70%;
    height: 150px;
    padding: 0.6rem 1.4rem;
    margin-right: 0.4em;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 6.2rem;
    font-family: $font-family;
    letter-spacing: 0.05em;
    vertical-align: baseline;

    @media (max-width: 959px) {
      width: 100%;
      margin: 0 0 20px;
      display: block;
    }
  }

  &:focus {
    border-bottom: 10px solid #FFBE39;
  }
  &::-ms-clear {
    visibility: hidden;
  }
}
