// SVG
//------------------------------------------------------
.c-path,
.c-line {
  fill: none;
  stroke: #ddd;
  stroke-width: 30px;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0;
}
