extends /_layouts/base

block vars
  include /_settings/data
  - var currentPath = './';
  
block content
  include /_partials/g-header
  .l-top.js-wrapper
    .l-content
      .p-top__form.c-form
        input.c-input.c-input--alphabet.js-input(type="text" placeholder="draw text" pattern="^[0-9A-Za-z]+$")
        button.c-btn.c-btn--play.play--enable.js-playAnimation PLAY

  include /_partials/stage
  include /_partials/g-footer
block js
  script(src="./assets/js/main.js")
