// Content
//------------------------------------------------------
.l-content {
  width: 100%;
  min-width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
}

.l-top {
  transition: $bg-transition;
}
