// Content
//------------------------------------------------------
.l-content {
  width: 100%;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-top {
  transition: $bg-transition;
}
