// Footer
//------------------------------------------------------
.l-footer {
  width: 100%;
  height: auto;
  margin: 0 auto;

  &__inner {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    .description {
      color: #FFF;
      font-size: 1rem;
      font-family: $font-family;
    }
  }
}
