.l-sidebar.u-color--sidebar#js-sidebar
  .l-sidebar__inner
    ul.l-sidebar__link-list
      li.link-list__item
        a(href="../") Home
      li.link-list__item
        a(href=currentPath + "barchart/index.html") Bar Chart
      li.link-list__item
        a(href=currentPath + "columnchart/index.html") Column Chart
      li.link-list__item
        a(href=currentPath + "linechart/index.html") line Chart
      li.link-list__item
        a(href=currentPath + "piechart/index.html") Pie Chart
