.c-stage.c-stage--animation.js-stage-wrapper
  .c-stage__btn-close.js-stage-wrapper-close-btn
    span.c-btn-close__line.c-btn-close__line--01
    span.c-btn-close__line.c-btn-close__line--02
  .p-top__stage
    svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="0").js-stage
  .p-top__replay
    button.c-btn.c-btn--replay.js-replayAnimation REPLAY
