.p-top {
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__stage {
    width: 100%;
    min-height: 400px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
