block vars
<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    title=title
    
    link(rel="stylesheet" href=currentPath + "assets/css/style.css?v")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fredoka+One")
  body.u-transition--bg
    block content

    block js
